<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agency - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top" class="bg-warning">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                    <form>
                                        <div class="form-group">
                                            <div id="emailText">
                                                <label class="small mb-1" for="email">Email</label>
                                                <input class="form-control py-4" id="email" name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />    
                                            </div>                                               
                                            <div class="form-group row" id="codeCheck">
                                                <div id="emailCode" class="col-sm-9"></div>
                                                <div id="viewTimer" class="col-sm-3"></div>
                                            </div>
                                            <div class="form-group" id="pwCheck"></div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/login">Return to login</a>
                                            <a class="btn btn-primary" id="enter_btn">mail send</a>
                                            <!-- <input type="submit" value="Reset Pssword"> -->
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/users/register">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="page_footer">
            <% include ./module/footer %>
        </div>
    </div>
       
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>    
    <!-- 패스워드 변경 페이지에 필요한 js -->
    <script src="/js/password.js"></script>

    <script>
        function fn_emailCheck() {
            var answer = false;
            $.ajax({
                type : "POST",
                url : "/users/emailCheck",
                async : false,
                dataType : "json",
                data : {"userEmail" : $('#email').val()},
                                
                success : function (result) {	
                    if(result.status == "OK"){
                        answer = true;
                    } else {
                        answer = false;
                    }
                },
                
                error : function() {
                    console.log("실패")
                    return false;
                }
            });
            
            return answer;
        }


        function fn_mailSend() {		
            $.ajax({
                type : "POST",
                url : "/mail/send",
                dataType : "json",
                data : {"email" : email},
                                
                success : function (result) {				
                    alert("메일이 발송 되었습니다.");
                },
                
                error : function() {
                    console.log("실패")
                    return false;
                }
            });
            
        }

        function fn_mailCode() {
            $.ajax({
                type : "POST",
                url : "/mail/checkCode",
                dataType : "json",
                data : {"code" : $('#code').val()},
                                
                success : function (result) {				
                    if(result.status == "OK") {
                        alert("코드가 인증 되었습니다.");
                        nowBtn = 3;
                        timerStop();			
                        var htmls = '';
                        htmls += '<input type="password" class="form-control py-4" id="newPw" placeholder="패스워드 입력"><br>';
                        htmls += '<input type="password" class="form-control py-4" id="rePw" placeholder="패스워드 확인">';
                        $('#pwCheck').html(htmls);
                        $('#codeCheck').html('');
                        $('#enter_btn').text('패스워드 변경');
                    } else {
                        alert("코드가 맞지 않습니다.");
                    }								
                },
                
                error : function() {
                    console.log("실패")
                    return false;
                }
            });
        }	
        
        function fn_changePw() {
            var paramData = {
                    "email" : email,
                    "password" : $('#newPw').val()
                }
            
            $.ajax({
                type : "POST",
                url : "/users/changePw",
                dataType : "json",
                data : paramData,
                            
                success : function (result) {				
                    if(result.status == "OK"){
                        alert("패스워드가 변경 되었습니다.");
                        location.href = "/login";
                    } else {
                        alert("패스워드 변경에 실패 했습니다.");
                    }
                },
                
                error : function() {
                    console.log("실패");
                }
            });
            
        }
    </script>
</body>

</html>