<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agency - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top" class="bg-warning">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                    <form>
                                        <div class="form-group">
                                            <label class="small mb-1" for="email">Email</label>
                                            <div id="emailText">
                                                <input class="form-control py-4" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />    
                                            </div>                                               
                                            <div class="form-group row" id="codeCheck">
                                                <div id="emailCode" class="col-sm-9"></div>
                                                <div id="viewTimer" class="col-sm-3"></div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/login">Return to login</a>
                                            <a class="btn btn-primary" id="enter_btn">Reset Password</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/users/register">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="page_footer">
            <% include ./module/footer %>
        </div>
    </div>
       
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>    

    <script>
        var setTime = 180;		// 최초 설정 시간(기본 : 초)
        var nowBtn = 0;         // 버튼 클릭 기록
        $('#enter_btn').on('click', () => {
            if($('#email').val() == '') {
                alert("이메일 주소를 입력해 주세요.");
            } else {
                if(nowBtn == 0) {
                    let check = fn_emailCheck(); 
                    
                    if(check){
                        fn_mailSend();
                        
                        email = $('#email').val();
                        $('#emailText').html('');
                        $('#emailCode').html('<input type="text" class="form-control py-4" id="code" placeholder="Code 입력" oninput="fn_codeCheck(this.value)">');
                        $('#viewTimer').css('padding', '12px 20px');
                        $('#enter_btn').text('인증코드 재발송');
                        nowBtn = 1;
                        timerStart();
                    } else {
                        alert("회원이 아닌 이메일 주소 입니다.");
                    }
                                
                } if(nowBtn == 1) {
                    fn_mailSend();                    
                    email = $('#email').val();				
                    timerStop();
                    timerStart();

                } else if(nowBtn == 2){
                    if(setTime == 180){
                        alert("시간이 끝났습니다. 코드를 재발송 하십시오.");
                    } else {
                        fn_mailCode();
                    }
                    
                } else if(nowBtn == 3){
                    if($('#newPw').val() == $('#rePw').val()) {
                        fn_changePw();				
                    } else {
                        alert("패스워드가 맞지 않습니다.");
                    }			
                }
            }
        });

        function fn_codeCheck(text) {
            if (text == '') {
                $('#enter_btn').text('인증코드 재발송');
                nowBtn = 1;
            } else {
                $('#enter_btn').text('코드 인증');
                nowBtn = 2;
            }
        }

        function timerStart() { 
            tid=setInterval('msg_time()', 1000);
        }

        function timerStop() {
            clearInterval(tid);		// 타이머 해제
            setTime = 180;			// 시간 초기화
        }

        function msg_time() {	// 1초씩 카운트	
            var second = setTime % 60;
            var str = ":";
            
            if(second < 10)
                str = ":0";
            else
                str = ":";
            
            m = Math.floor(setTime / 60) + str + (setTime % 60);	 // 남은 시간 계산
            
            var msg = "<font color='blue'>" + m + "</font>";
            
            document.all.viewTimer.innerHTML = msg;		// div 영역에 보여줌 
                    
            setTime--;					// 1초씩 감소
            
            if (setTime < 0) {			// 시간이 종료 되었으면..			
                timerStop();
                alert(setTime);
            }
            
        }


        function fn_emailCheck() {
            var answer = false;
            $.ajax({
                type : "POST",
                url : "/users/emailCheck",
                async : false,
                dataType : "json",
                data : {"userEmail" : $('#email').val()},
                                
                success : function (result) {	
                    if(result.status == "OK"){
                        answer = true;
                    } else {
                        answer = false;
                    }
                },
                
                error : function() {
                    console.log("실패")
                    return false;
                }
            });
            
            return answer;
        }


        function fn_mailSend() {		
            $.ajax({
                type : "POST",
                url : "/mail/send",
                dataType : "json",
                data : {"email" : $('#email').val()},
                                
                success : function (result) {				
                    alert("메일이 발송 되었습니다.");
                },
                
                error : function() {
                    console.log("실패")
                    return false;
                }
            });
            
        }
    </script>
</body>

</html>